<!DOCTYPE html>
<html>
<head>
	<title>play</title>
	<meta name="viewport" content="minimal-ui, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="assets/css/base.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="play" class="app" :class="getGameUI">
		<!-- Iteration: {{ config.step }} -->

		<div class="uiii">
			<div class="ui-world">
				<div class="ui-targets">
					<character :character="config.character"></character>
					<character-target :character="config.character"></character-target>
				</div>
				<div class="tile-actions">
					<span>Actions: </span>
					<div class="ui-actions">
						<view-map-tile-actions :position="config.character.position" :config="config"></view-map-tile-actions>
					</div>
				</div>
				
				<div class="map">
					<view-map-row v-for="(row, row_id) in parseInt(config.db.map.viewport[1])" :row="row" :row_id="row_id" :zone="config.db.map[config.db.map.activeMap]" :viewport="config.db.map.viewport"></view-map-row>
				</div>


				<div class="ui-battle">
					<div class="ui-list-enemies">
						<active-enemies v-for="item in config.activeEnemies" :enemy="item" :config="config"></active-enemies>
					</div>

					<div class="ui-abilities">
						<character-abilities v-for="item in config.character.abilities" :ability="item" :config="config"></character-abilities>
					</div>
					<!-- <ul class="combat-log">
						<combat-log v-for="record in config.combatLog" :record="record"></combat-log>
					</ul> -->
				</div>	
			</div>
		</div>
	</div>


	<!-- development version, includes helpful console warnings -->
	<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- <script src="offline-vue.js"></script> -->

	<!-- DB Map Data -->
	<script type="text/javascript" src="assets/js/db/map/cave1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/cave1_actions.js"></script>
	<script type="text/javascript" src="assets/js/db/map/world1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/world1_actions.js"></script>
	<script type="text/javascript" src="assets/js/db/map/sewer1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/sewer1_actions.js"></script>

	<script type="text/javascript" src="assets/js/db/map/tile_maps.js"></script>
	<script type="text/javascript" src="assets/js/db/map/stop_tiles.js"></script>

	<!-- DB Data -->
	<script type="text/javascript" src="assets/js/db/items.js"></script>
	<script type="text/javascript" src="assets/js/db/enemies.js"></script>
	<script type="text/javascript" src="assets/js/db/loot.js"></script>
	<script type="text/javascript" src="assets/js/db/abilities.js"></script>

	<script type="text/javascript" src="assets/js/config.js"></script>
	<script type="text/javascript" src="assets/js/components/activeEnemies.js"></script>
	<script type="text/javascript" src="assets/js/components/character.js"></script>
	<script type="text/javascript" src="assets/js/components/character/buff.js"></script>
	<script type="text/javascript" src="assets/js/components/character/debuff.js"></script>
	<script type="text/javascript" src="assets/js/components/character/control.js"></script>
	<script type="text/javascript" src="assets/js/components/character/abilities.js"></script>
	<script type="text/javascript" src="assets/js/components/character/stats.js"></script>
	<script type="text/javascript" src="assets/js/components/character/bag.js"></script>
	<script type="text/javascript" src="assets/js/components/character/target.js"></script>
	<script type="text/javascript" src="assets/js/components/combatLog.js"></script>

	<script type="text/javascript" src="assets/js/components/hpScroll.js"></script>
	<script type="text/javascript" src="assets/js/components/hpScrollItem.js"></script>

	<!-- new Map Components -->
	<script type="text/javascript" src="assets/js/components/map/viewMapRow.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTileActions.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTileAction.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTileActionEvent.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTileLayer.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTileLayerEvent.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTileLayerDefault.js"></script>
	
	<script type="text/javascript" src="assets/js/main.js"></script>
	<script type="text/javascript">
		var cancelSelect = function () {
			let e = window.event;
			pauseEvent(e);
		}
		window.addEventListener('mousedown', cancelSelect);
	</script>
</body>
</html>