<!DOCTYPE html>
<html>
<head>
	<title>play</title>
	<meta name="viewport" content="minimal-ui">

	<link rel="stylesheet" type="text/css" href="assets/css/base.css">
	<link rel="stylesheet" type="text/css" href="assets/css/map-editor.css">
</head>
<body>
	<div id="play">
		<div class="ui">
			<div class="ui-left">
				<ul>
					<li @click="config.activeTab = 'tiles'">
						Tiles 
					</li>
					<li @click="config.activeTab = 'layer_events'">
						Layer Events
					</li>
				</ul>
				<div v-show="config.activeTab == 'tiles'">
					Generating Tiles
					<div class="tiles-map">
							<tiles-map :maps="config.tilesMap" :config="config"></tiles-map>
							<active-tile-map :map="config.activeTileMap" v-model="config.activeLayer" :config="config"></active-tile-map>
					</div>

					<div>
						Active Tile:
						<active-brush-tile :tile="config.activeTile"></active-brush-tile>
					</div>

					Select Tile:
					<div class="tile-list">
						<tile v-for="tile in config.tiles" :tile="tile" :config="config"></tile>
					</div>
				</div>
				<div v-show="config.activeTab == 'layer_events'">
					Generate Layer Tile:
					<div>
						Layer types:
						<select v-model="config.activeLayerEvent">
							<option value="" selected="selected">---</option>
							<option v-for="layer in config.eventTemplates" :value="layer">{{ layer.type }}</option>
						</select>

						<div>
							Event Icon: 
							<input type="text" v-model="config.activeLayerEvent.icon" />
							<div>
								<img width="64" :src="config.activeLayerEvent.icon" />
							</div>
						</div>

						<div>
							Hidden: 
							<select v-model="config.activeLayerEvent.hidden">
								<option value="" selected="selected">---</option>
								<option value="true">True</option>
								<option value="false">False</option>
							</select>
						</div>

						<event-player v-if="config.activeLayerEvent && config.activeLayerEvent.type == 'player'" :config="config"></event-player>
						<event-enemies v-if="config.activeLayerEvent && config.activeLayerEvent.type == 'enemies'" :config="config"></event-enemies>
						<event-cave v-if="config.activeLayerEvent && config.activeLayerEvent.type == 'cave'" :config="config"></event-cave>
						<event-cave-lock v-if="config.activeLayerEvent && config.activeLayerEvent.type == 'cave_lock'" :config="config"></event-cave-lock>
						<event-chest-open v-if="config.activeLayerEvent && config.activeLayerEvent.type == 'chest_open'" :config="config"></event-chest-open>
					</div>
				</div>
			</div>
			<div class="ui-right">
				<div>
					<div class="dragstartzone" @mousedown="startDrag" @mousemove="doDrag">Start dragging here</div>
  				<div>X: {{x}}, Y: {{y}}</div>
					Layer:
					<select v-model="config.activeLayer">
						<option value="" selected="selected">Custom</option>
						<option v-for="layer in config.layers" :value="layer">{{ layer }}</option>
					</select>

					Dimensions:
					<input type="number" v-model="config.width" name="" value="config.width" />
					<input type="number" v-model="config.height" name="" value="config.height" />

					Offset: 
					<input type="number" v-model="config.mapOffset[0]" name="" value="config.mapOffset[0]" />
					<input type="number" v-model="config.mapOffset[1]" name="" value="config.mapOffset[1]" />

					<view-map-clear></view-map-clear>
					<choose-saved-map :config="config"></choose-saved-map>
				</div>
				<div class="map" @mousedown="startDrag" @mousemove="doDrag">
					<view-map-row v-for="(row, row_id) in parseInt(config.height)" :row="row" :row_id="row_id" :config="config"></view-map-row>
				</div>
			</div>
		</div>

		<div class="map-config">
			<div>
				Map:
				<textarea style="width: 300px;" rows="20">{{ config.map }}</textarea>
			</div>
			<div>
				Layer Events:
				<textarea style="width: 300px;" rows="20">{{ config.layerEvents }}</textarea>
			</div>
			<div>
				Layer Event:
				<textarea style="width: 300px;" rows="20">{{ config.activeLayerEvent }}</textarea>
			</div>
		</div>
	</div>


	<!-- development version, includes helpful console warnings -->
	<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- <script src="offline-vue.js"></script> -->

	<!-- Map Data -->
	<script type="text/javascript" src="assets/js/db/map/tile_maps.js"></script>
	<script type="text/javascript" src="assets/js/db/map/draw_tiles.js"></script>
	<script type="text/javascript" src="assets/js/db/map/event_templates.js"></script>
	<script type="text/javascript" src="assets/js/db/event_triggers.js"></script>

	<script type="text/javascript" src="assets/js/db/map/zone1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/zone1_actions.js"></script>
	<script type="text/javascript" src="assets/js/db/map/sewer1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/sewer1_actions.js"></script>
	<script type="text/javascript" src="assets/js/db/map/sewer1_b1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/sewer1_b1_actions.js"></script>

	<script type="text/javascript" src="assets/js/db/enemies.js"></script>
	<script type="text/javascript" src="assets/js/db/items.js"></script>

	<script type="text/javascript" src="assets/js/map/config.js"></script>

	<!-- Action Layers -->
	<script type="text/javascript">
		

	</script>

	<!-- Layer Events  -->
	<script type="text/javascript" src="assets/js/components/map/editor/events/triggers/trigger.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/cave.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/caveLock.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/triggers/hideEventTile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/triggers/showEventTile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/triggers/replaceTile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/chestOpen.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/enemies.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/player.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/showConditions.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/events/showCondition.js"></script>

	<!-- Other -->
	<script type="text/javascript" src="assets/js/components/map/editor/activeBrushTile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/activeTileMap.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/tile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/tileMap.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/tilesMap.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapRow.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapClear.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapTile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapTileLayer.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapTileLayersInfo.js"></script>

	<script type="text/javascript" src="assets/js/components/map/editor/viewMapTileEventsInfo.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapTileEvent.js"></script>

	<script type="text/javascript" src="assets/js/components/map/editor/chooseSavedMap.js"></script>

	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>