<!DOCTYPE html>
<html>
<head>
	<title>play</title>

	<link rel="stylesheet" type="text/css" href="assets/css/map-editor.css">
</head>
<body>
	<div id="play">
		<div class="ui">
			<div class="ui-left">
				Generating Tiles
				<div class="tiles-map">
						<tiles-map :maps="config.tilesMap" :config="config"></tiles-map>
						<active-tile-map :map="config.activeTileMap" v-model="config.activeLayer" :config="config"></active-tile-map>
				</div>

				<div>
					Active Tile:
					<active-brush-tile :tile="config.activeTile"></active-brush-tile>
				</div>

				Select Tile:
				<div class="tile-list">
					<tile v-for="tile in config.tiles" :tile="tile" :config="config"></tile>
				</div>
			</div>
			<div class="ui-right">
				<div>
					<div class="dragstartzone" @mousedown="startDrag" @mousemove="doDrag">Start dragging here</div>
  				<div>X: {{x}}, Y: {{y}}</div>
					Layer:
					<select v-model="config.activeLayer">
						<option value="" selected="selected">Custom</option>
						<option v-for="layer in config.layers" :value="layer">{{ layer }}</option>
					</select>

					Dimensions:
					<input type="number" v-model="config.width" name="" value="config.width" />
					<input type="number" v-model="config.height" name="" value="config.height" />

					Offset: 
					<input type="number" v-model="config.mapOffset[0]" name="" value="config.mapOffset[0]" />
					<input type="number" v-model="config.mapOffset[1]" name="" value="config.mapOffset[1]" />
				</div>
				<div class="map" @mousedown="startDrag" @mousemove="doDrag">
					<view-map-row v-for="(row, row_id) in parseInt(config.height)" :row="row" :row_id="row_id" :config="config"></view-map-row>
				</div>
			</div>
		</div>

		<div class="map-config"><pre>{{ config.map }}</pre></div>
	</div>


	<!-- development version, includes helpful console warnings -->
	<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="assets/js/map/config.js"></script>

	<script type="text/javascript">

	</script>

	<script type="text/javascript" src="assets/js/components/map/editor/activeBrushTile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/activeTileMap.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/tile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/tileMap.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/tilesMap.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapRow.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapTile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapTileLayer.js"></script>
	<script type="text/javascript" src="assets/js/components/map/editor/viewMapTileLayersInfo.js"></script>

	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>