html, body {
  margin: 0;
  padding: 0;
}
.view-map-row .layer-event.battle0 {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 0;
	left: 0;
	background: url(../battle.png) center center/cover;
	cursor: pointer;
	z-index: 1;
}

.view-map-row .layer-event.player0 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../player.png) center center/cover;
	cursor: pointer;
}
.view-map-row .layer-event.chest-open0 {
	position: absolute;
	width: 60%;
	height: 60%;
	top: 5%;
	left: 20%;
	background: url(../chest-locked.png) center center/cover;
	cursor: pointer;
}
.view-map-row .layer-event.chest-locked0 {
	position: absolute;
	width: 60%;
	height: 60%;
	top: 0;
	left: 0;
	background: url(../chest-locked.png) center center/cover;
	cursor: pointer;
}

.tile-map1 {
	background: url(../tileset_1.png);
}
.tile-map2 {
	background: url(../mountains_0.png);
}
.tile-map3 {
	background: url(../water_1.png);
}
.tile-map4 {
	background: url(../tileset_cave.png);
}
.tile-map5 {
	background: url(../tileset_sewer_1.png);
}