html, body {
  margin: 0;
  padding: 0;
}
.view-map-row .layer-event {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 1;	
	position: relative;
}
.icon-battle0 {
	background: url(../battle.png) center center/cover;
}
.icon-angry_bear1 {
	background: url(../angry_bear1.png) center center/cover;
}
.view-map-row .layer-event.icon-angry_bear1 {
	width: 27px;
	position: relative;
	left: 9px;
}
.icon-wolf1 {
	background: url(../wolf1.png) center center/cover;
}
.view-map-row .layer-event.icon-wolf1 {
	width: 27px;
	position: relative;
	left: 9px;
}
.icon-zombie1 {
	background: url(../zombie1.png) center center/cover;
}
.view-map-row .layer-event.icon-zombie1 {
	width: 27px;
	position: relative;
	left: 9px;
}
.icon-boss2 {
	background: url(../boss2.png) center center/cover;
}
.view-map-row .layer-event.icon-boss2 {
	width: 27px;
	position: relative;
	left: 9px;
}
.icon-boss1 {
	background: url(../boss1.png) center center/cover;
}
.view-map-row .layer-event.icon-boss1 {
	width: 27px;
	position: relative;
	left: 9px;
}
.icon-player0 {
	background: url(../player.png) center center/cover;
}
.view-map-row .layer-event.icon-player0 {
	width: 30px;
	height: 30px;
	left: 7px;
	top: 0px;
}

.icon-chest-open0 {
	background: url(../chest-locked.png) center center/cover;
}
.icon-chest-locked0 {
	background: url(../chest-locked.png) center center/cover;
}
.view-map-row .layer-event.icon-chest-locked0 {
	width: 28px;
	height: 28px;
	left: 9px;
	top: -7px;
}

.icon-basement-door0 {
	background: url(../basement_door.jpg) center center/cover;
}
.view-map-row .layer-event.icon-question0 {
	background: url(../question.png) center center/cover;	
	width: 20px;
	height: 20px;
	left: 24px;
	top: 3px;
}
.icon-townout0 {
	background: url(../town_out.jpg) center center/cover;	
}
.icon-teleport0 {
	background: url(../town_in.jpg) center center/cover;	
}

.icon-paper0 {
	background: url(../paper.png) center center/cover;	
}
.view-map-row .layer-event.icon-paper0 {
	width: 20px;
	height: 20px;
	left: 18px;
	top: 11px;
	z-index: 2;
}

.icon-raven0 {
	background: url(../raven.png) center center/cover;
}
.view-map-row .layer-event.icon-raven0 {
	top: -7px;
}
.icon-fly0 {
	background: url(../fly.png) center center/cover;
}
.view-map-row .layer-event.icon-fly0 {
	top: -7px;
}

.tile-map1 {
	background: url(../tileset_1.png);
}
.tile-map2 {
	background: url(../mountains_0.png);
}
.tile-map3 {
	background: url(../tileset_water.png);
}
.tile-map4 {
	background: url(../tileset_cave1.png);
}
.tile-map5 {
	background: url(../tileset_sewer_1_48.png);
	//background: url(../tileset_sewer_1_ext.png);
}