html, body {
  margin: 0;
  padding: 0;
}
.view-map-row .layer-event {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 1;	
	position: relative;
}
.icon-battle0 {
	background: url(../battle.png) center center/cover;
}
.icon-player0 {
	background: url(../player.png) center center/cover;
}
.icon-chest-open0 {
	background: url(../chest-locked.png) center center/cover;
}
.icon-chest-locked0 {
	background: url(../chest-locked.png) center center/cover;
}
.icon-basement-door0 {
	background: url(../basement_door.jpg) center center/cover;
}
.icon-question0 {
	background: url(../question.png) center center/cover;	
	width: 7px;
    height: 7px;
    left: 8px;
    top: 1px;
}
.icon-cave0 {
	background: url(../town_in.jpg) center center/cover;	
}
.icon-teleport0 {
	background: url(../town_in.jpg) center center/cover;	
}

.tile-map1 {
	background: url(../tileset_1.png);
}
.tile-map2 {
	background: url(../mountains_0.png);
}
.tile-map3 {
	background: url(../water_1.png);
}
.tile-map4 {
	background: url(../tileset_cave.png);
}
.tile-map5 {
	background: url(../tileset_sewer_1.png);
}