html {
	touch-action: manipulation;
}
.map {
	touch-action: manipulation;
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.map {
	border: 1px solid red;
}
.map.edit {
	border: none;
}
.play.black {
	background: #202020;
	color: #c6c6c6;
}
.play.black textarea, .play.black input, .play.black select, .play.black button {
	background: transparent;
	color: #c4c4c4;
}
input[type="number"] {
	width: 50px;
	margin-right: 10px;
}
select {
	min-width: 100px;
}
.play.black .view-map-row .tile {
	border-right: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	background: #000;
}
.play.black .view-map-row .tile .tile-layers-info {
	background: #743674;
}
span, label {
	vertical-align: middle;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.field-row, .info {
	margin-bottom: 10px;
}
.field-row label {
	min-width: 140px;
	display: inline-block;
}

.ui {
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}
.ui-left, .ui-right {
	flex: 1;
}
.ui-right {
	border-left: 1px solid #cecece;
}

.tile-list {
	height: 400px;
	width: 100%;
	overflow-x: scroll;
}
.tile-list .tile {
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;
	border: 1px solid #bababa;
	font-size: 0;
	background: #542754;
}
.tile-list .tile.active {
	border: 1px solid #408080;
}
.tile-list .tile .tile-picture {
	height: 32px;
	width: 32px;
	zoom: 2;
	display: inline-block;
}
.tile-list .tile .tile-details {
	font-size: 10px;
	display: block;
}

.view-map-row {
	font-size: 0;
	cursor: pointer;
}
.view-map-row .tile {
	position: relative;
	width: 48px;
	height: 48px;
	display: inline-block;
	border-right: 1px solid #cecece;
	font-size: 10px;
	border-bottom: 1px solid #cecece;;
	background: transparent
}
.map.selectCell .view-map-row .tile:hover {
	border-right: 1px solid red;
	border-bottom: 1px solid red;
	box-shadow: 0 0 1px 2px red;
	z-index: 1;
}
.map.selectTail .view-map-row .tile:hover {
	border-right: 1px solid red;
	border-bottom: 1px solid red;
	box-shadow: 0 0 1px 2px red;
	z-index: 1;
}

.map.selectTile .view-map-row .tile:hover .tile-layers-info {
	display: block;
}
.map.selectTile .tile-layers-info .layer:hover {
	border: 1px solid red;
}
.map.selectTile .tile-events, .map.selectTile .tile-map > div {
	display: none;
}

.map.selectEvent .view-map-row .tile:hover .tile-layers-info {
	display: block;
}
.map.selectEvent .view-map-row .tile .tile-layers-info span:hover {
	border: 1px solid red;
}
.map.selectEvent .tile-map, .map.selectEvent .tile-events > div, .map.selectEvent .tile-events .name, .map.selectEvent .tile-events .control {
	display: none;
}

.view-map-row .tile .tile-layers-info {
	display: none;
	position: absolute;
	background: #a45694;
	padding: 1px;
	z-index: 9999;
	left: -2px;
	top: -2px;
}
.head-nav {
	margin: 10px;
}
.head-nav .field-row {
	margin-bottom: 0;
}
.layer div {
	display: block;
	border: none;
}

.map.edit .view-map-row .tile:hover .tile-layers-info {
	display: flex;
}
.view-map-row .tile .tile-layers-info span {
	border: 1px solid #cecece;
	min-height: 16px;
	min-width: 16px;
}
.view-map-row .tile .tile-layers-info span.active {
	border: 1px solid #ff0;
}
.view-map-row .tile > span.service {
	position: absolute;
	zoom: 1;
	left: 0;
	top: 0;
	z-index: 999
}
.view-map-row .tile > span {
	position: absolute;
	zoom: 3;
	left: 0;
	top: 0;
}
.view-map-row .tile span {
	display: inline-block;
}

.map-config {
	display: flex;
	justify-content: space-evenly;
}
.map-config textarea {
	display: block;
	margin: 5px;
}
.active-brush-tile {
	height: 16px;
	width: 16px;
	zoom: 3;
	display: inline-block;
	font-size: 0;
	border: 1px solid #cecece;
}

.layer-event {
	background-size: contain !important;
	display: inline-block;
	position: relative;
	width: 16px; 
	height: 16px; 
	background-repeat: no-repeat;
	background-position: center;
}
.box {
	border: 1px solid #cecece;
	padding: 10px;
	margin: 5px;
	position: relative;
}
.close {
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: 15px;
	cursor: pointer;
}

.ul-tabs {
	list-style: none;
	padding-left: 5px;
}
.ul-tabs li {
	display: inline-block;
	padding: 5px;
	margin: 10px;
	cursor: pointer;
}
.ul-tabs li.active {
	border: 1px solid rgb(163, 163, 0);
}
.section {
	padding: 15px 10px;
	margin: 15px;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.tiles-map {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tiles-map > div {
	flex: 1;
}
.control span {
	border: 1px solid #cecece;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
}
.info {
	border: 1px solid #cecece;
	border-radius: 3px;
	padding: 7px 13px;
	background: #f5f5f5;
	font-size: 13px;
}