html {
	touch-action: manipulation;
}
body {
	background: #202020;
	color: #c6c6c6;
}
textarea, input, select, button {
	background: transparent;
	color: #c4c4c4;
	border: 1px solid;
	border-radius: 4px;
}
.ui {
	display: flex;
}
.ui-left, .ui-right {
	flex: 1;
}

.tile-list {
	height: 400px;
	width: 400px;
	overflow-x: scroll;
}
.tile-list .tile {
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;
	border: 1px solid #bababa;
	font-size: 0;
	background: #542754;
}
.tile-list .tile.active{
	border: 1px solid #408080;
}
.tile-list .tile .tile-picture {
	height: 32px;
	width: 32px;
	zoom: 2;
	display: inline-block;
}
.tile-list .tile .tile-details {
	font-size: 10px;
	display: block;
}

.view-map-row {
	font-size: 0;
	cursor: pointer;
}
.view-map-row .tile {
	position: relative;
	width: 48px;
	height: 48px;
	display: inline-block;
	border-right: 1px solid rgba(255, 255, 255, 0);
	font-size: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	background: #000;
}
.view-map-row .tile .tile-layers-info {
	display: none;
	position: absolute;
	background: #743674;
	padding: 1px;
	z-index: 9999;
	left: -2px;
	top: -2px;
}
.layer div {
	zoom: 0.5;
	display: block;
	border: none;
}
.view-map-row .tile:hover .tile-layers-info {
	display: flex;
}
.view-map-row .tile .tile-layers-info span {
	border: 1px solid #cecece;
	min-height: 16px;
	min-width: 16px;
}
.view-map-row .tile .tile-layers-info span.active {
	border: 1px solid #ff0;
}
.view-map-row .tile > span.service {
	position: absolute;
	zoom: 1;
	left: 0;
	top: 0;
	z-index: 999
}
.view-map-row .tile > span {
	position: absolute;
	zoom: 3;
	left: 0;
	top: 0;
}
.view-map-row .tile span {
	display: inline-block;
}

.tile-map1 {
	background: url(../tileset_1.png);
}
.tile-map2 {
	background: url(../mountains_0.png);
}
.tile-map3 {
	background: url(../water_1.png);
}
.tile-map4 {
	background: url(../tileset_cave.png);
}
.tile-map5 {
	background: url(../tileset_sewer_1.png);
}

.map-config {
	display: flex;
}
.map-config textarea {
	display: block;
	margin: 5px;
}
.active-brush-tile {
	height: 16px;
	width: 16px;
	zoom: 3;
	display: inline-block;
	font-size: 0;
	border: 1px solid #cecece;
}