<!DOCTYPE html>
<html>
<head>
	<title>play</title>
	<meta charset="utf-8">
	<meta name="viewport" content="minimal-ui, user-scalable=no">

	<link rel="stylesheet" type="text/css" href="assets/css/base.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/ui.css">
</head>
<body onload="run();">
	<div id="play" class="app" :class="getGameUI">
		<!-- Iteration: {{ config.step }} -->

		<div class="uiii">
			<div class="ui-world">
				<character-stats :character="config.characters[config.character[0]]"></character-stats>

				<div class="ui-targets">
					<character :character="config.characters[config.character[0]]"></character>
					<character-target :character="config.characters[config.character[0]]"></character-target>
					<execute-event :event="config.executeEvent"></execute-event>
				</div>
				<div class="tile-actions">
					<div class="ui-actions">
						<view-map-tile-actions :position="config.characters[config.character[0]].position" :character="config.characters[config.character[0]]"></view-map-tile-actions>
					</div>
					<div class="ui-move" v-show="config.moveUi">
						<move-ui :character="config.characters[config.character[0]]"></move-ui>
					</div>
				</div>
				
				<div class="map">
					<canvas id="map" class="map-canvas"></canvas>
					<!-- make logic map for render canvas map -->
					<view-map-row v-for="(row, row_id) in parseInt(config.db.map.viewport[1])" :row="row" :row_id="row_id" :zone="config.db.map[config.db.map.activeMap]" :viewport="config.db.map.viewport" :key="row_id"></view-map-row>
				</div>


				<div class="ui-battle">
					<div class="ui-list-enemies">
						<active-player :character="config.characters[config.character[0]]"></active-player>

						<active-enemy v-for="item in config.activeEnemies" :enemy="item" :character="config.characters[config.character[0]]"></active-enemy>
					</div>

					<div class="ui-abilities">
						<character-abilities v-for="item in config.characters[config.character[0]].abilities" :ability="item" :character="config.characters[config.character[0]]"></character-abilities>
					</div>
					<!-- <ul class="combat-log">
						<combat-log v-for="record in config.combatLog" :record="record"></combat-log>
					</ul> -->
				</div>	
			</div>
			<div class="ui-trade">
				<h1>Trade</h1>
				<!-- need register the component firstly than active-interaction for correct keydown events -->
				<active-trade :seller="config.activeTrade"></active-trade>
			</div>
			<div class="ui-dialog">
				<!-- <h1>Dialog with active enemy name</h1> -->
				<active-interactions :event="config.activeInteractions"></active-interactions>
			</div>
			<div class="ui-game-over">
				<h1>GAME OVER...</h1>
				<a href="/">restart</a>
			</div>
			<div class="ui-loading">
				<h1>Loading...</h1>
			</div>

			<div class="ui-game-menu">
				<h1>Menu</h1>
				<main-menu :config="config"></main-menu>
			</div>

			<div class="tooltip" v-show="config.tooltip">
				<tooltip :config="config"></tooltip>
			</div>
		</div>

		<!-- texture loader -->
		<div style="display:none;">
			<span id="tile_maps"></span>
			<span id="tile_events"></span>
	   	</div>
		<!-- <audio loop autoplay>
			<source src="assets/media/music1.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio> -->
	</div>


	<!-- development version, includes helpful console warnings -->
	<script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- <script src="offline-vue.js"></script> -->

	<!-- DB Map Data -->
	<script type="text/javascript" src="assets/js/db/map/indoor1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/indoor1_actions.js"></script>
	<script type="text/javascript" src="assets/js/db/map/indoor1_battle.js"></script>
	<script type="text/javascript" src="assets/js/db/map/city1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/city1_actions.js"></script>
	<script type="text/javascript" src="assets/js/db/map/city1_battle.js"></script>
	<script type="text/javascript" src="assets/js/db/map/cave1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/cave1_actions.js"></script>
	<script type="text/javascript" src="assets/js/db/map/cave1_battle.js"></script>
	<script type="text/javascript" src="assets/js/db/map/world1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/world1_actions.js"></script>
	<script type="text/javascript" src="assets/js/db/map/world1_battle.js"></script>
	<script type="text/javascript" src="assets/js/db/map/sewer1.js"></script>
	<script type="text/javascript" src="assets/js/db/map/sewer1_actions.js"></script>
	<script type="text/javascript" src="assets/js/db/map/sewer1_battle.js"></script>

	<script type="text/javascript" src="assets/js/db/map/tile_maps.js"></script>
	<script type="text/javascript" src="assets/js/db/map/tile_events.js"></script>
	<script type="text/javascript" src="assets/js/db/map/config_tiles.js"></script>

	<!-- DB Data -->
	<script type="text/javascript" src="assets/js/db/items.js"></script>
	<script type="text/javascript" src="assets/js/db/enemies.js"></script>
	<script type="text/javascript" src="assets/js/db/loot.js"></script>
	<script type="text/javascript" src="assets/js/db/abilities.js"></script>
	<script type="text/javascript" src="assets/js/db/factions.js"></script>

	<script type="text/javascript" src="assets/js/config.js"></script>
	<script type="text/javascript" src="assets/js/components/mainMenu.js"></script>
	<script type="text/javascript" src="assets/js/components/activeEnemy.js"></script>
	<script type="text/javascript" src="assets/js/components/activePlayer.js"></script>
	<script type="text/javascript" src="assets/js/components/activeInteractions.js"></script>
	<script type="text/javascript" src="assets/js/components/activeTrade.js"></script>
	<script type="text/javascript" src="assets/js/components/character.js"></script>
	<script type="text/javascript" src="assets/js/components/character/buff.js"></script>
	<script type="text/javascript" src="assets/js/components/character/debuff.js"></script>
	<script type="text/javascript" src="assets/js/components/character/control.js"></script>
	<script type="text/javascript" src="assets/js/components/character/moveUi.js"></script>
	<script type="text/javascript" src="assets/js/components/character/abilities.js"></script>
	<script type="text/javascript" src="assets/js/components/character/stats.js"></script>
	<script type="text/javascript" src="assets/js/components/character/bag.js"></script>
	<script type="text/javascript" src="assets/js/components/character/wear.js"></script>
	<script type="text/javascript" src="assets/js/components/character/target.js"></script>
	<script type="text/javascript" src="assets/js/components/character/executeEvent.js"></script>
	<script type="text/javascript" src="assets/js/components/combatLog.js"></script>
	<script type="text/javascript" src="assets/js/components/tooltip.js"></script>

	<script type="text/javascript" src="assets/js/components/hpScroll.js"></script>
	<script type="text/javascript" src="assets/js/components/hpScrollItem.js"></script>

	<!-- new Map Components -->
	<script type="text/javascript" src="assets/js/components/map/viewMapRow.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTile.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTileActions.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTileActionEvent.js"></script>
	<script type="text/javascript" src="assets/js/components/map/viewMapTileActionDirectionEvent.js"></script>
	
	<script type="text/javascript" src="assets/js/helper/tile.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>
	<script type="text/javascript">
		var cancelSelect = function () {
			let e = window.event;
			pauseEvent(e);
		}
		window.addEventListener('mousedown', cancelSelect);

		var tile_maps = config.db.tileMaps
		var html = ""
		for (idx in tile_maps) {
			let tile = tile_maps[idx]
			html += '<img id="' + tile.class + '" src="' + tile.src + '" style="width: ' + tile.width + 'px; height: ' + tile.height + 'px"/>'
		}

		document.getElementById("tile_maps").innerHTML = html

		var tile_events = config.db.tileEvents
		var html = ""
		for (idx in tile_events) {
			let tile = tile_events[idx]
			html += '<img id="' + tile.id + '" src="' + tile.src + '" style="width: ' + tile.width + 'px; height: ' + tile.height + 'px"/>'
		}

		document.getElementById("tile_events").innerHTML = html

		if (config.activeUI == "loading") {
			document.getElementById("play").className += " active-loading-ui"
		}
	</script>
</body>
</html>